{% extends 'blog_app/base.html'%}
{% load static %}

{% block head%}
<style>
    .row {
        justify-content: center;
        align-items: center;
    }


    .form-col {
        margin-top: 100px;

    }

    .hero-image {
        margin-top: 100px;
        width: 100%;
        height: auto;
    }
</style>
{% endblock %}


{% block content%}
<div class="container">
    <div class="row">
        <div class="col s12  offset-m2 m8 l4 form-col">
            <form action="" method="POST">
                {% csrf_token %}

                <h4 class="center-align">Login</h4>


                <input type="text" name="username" maxlength="255" class="form-control" placeholder="Username"
                    required="true">



                <!-- password -->
                <input type="password" name="password" maxlength="255" class="form-control" placeholder="Password"
                    required="true">



                <button class="waves-effect waves-light btn-small" type="submit">Login</button>
                <!-- Social register -->
                <!-- <p class="center-align">or sign up with:</p>
                <div class="row">
                    <div class="col offset-s4 s12 offset-m4 m12 offset-l4 l12 ">
                        <a href="#" class="" role="button"><i class="fab fa-facebook-f light-blue-text"></i></a>

                        <a href="#" class="" role="button"><i class="fab fa-twitter light-blue-text"></i></a>

                        <a href="#" class="" role="button"><i class="fab fa-linkedin-in light-blue-text"></i></a>

                        <a href="#" class="" role="button"><i class="fab fa-github light-blue-text"></i></a>
                    </div>
                </div>
                <hr> -->
                <p class="right">Forgot Password ? <a href="{% url 'blog:reset_password' %}">click here to reset</a>
                </p>
                <p class="right">Don't have an account? <a href="{% url 'blog:sign_up' %}">register here</a>
                </p>

            </form>
        </div>

        <div class="col s12 m12 l6">
            <img class="hero-image" src="{% static 'images/login.jpg'%}" alt="hro image">

        </div>


    </div>


</div>
{% endblock %}