{% extends 'blog_app/base.html'%}
{% load static %}

{% block content%}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="header">My Blogs</h2>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 l6">


            <ul class="collapsible">

                {% for post in posts %}


                <li>
                    {% if post.is_published%}
                    <div class="collapsible-header green lighten-3"> {% else %} <div
                            class="collapsible-header  lighten-3"> {% endif %}
                            {{post.title | capfirst}}
                        </div>
                        <div class="collapsible-body">

                            {% if not post.is_published %}
                            <a href="{% url 'blog:publish_post' post.id %}"
                                class="waves-effect waves-light green btn-small"><i
                                    class="material-icons left">publish</i>publish</a>

                            {% else %}
                            <a class="waves-effect waves-light btn green btn-small disabled"><i
                                    class="material-icons left">publish</i>publish</a>
                            {% endif %}

                            <a href="{% url 'blog:update_post' post.id %}"
                                class="waves-effect waves-light orange btn-small"><i
                                    class="material-icons left">update</i>update</a>
                            <br><br>

                            <a href="#delete{{post.id}}" class="waves-effect waves-light red btn-small modal-trigger"><i
                                    class="material-icons right">delete</i>delete</a>

                            <a class="waves-effect waves-light btn btn-small modal-trigger" href="#{{post.id}}"><i
                                    class="material-icons right">crop_free</i>Preview</a>


                        </div>
                </li>

                <div id="delete{{post.id}}" class="modal">
                    <div class="modal-content">
                        <p class="flow-text">Do yout really want to delete {{post.title}} ?</p>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-close waves-effect waves-green btn-flat">No take me back</a>
                        <a href="{% url 'blog:delete_post' post.id %}"
                            class="modal-close waves-effect  waves-green btn-flat">Yes delete it</a>
                    </div>
                </div>

                <div id="{{post.id}}" class="modal">
                    <div class="modal-content">
                        <h2>{{post.title | capfirst}}</h2>
                        <hr>
                        <p>{{post.content | safe }}</p>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>

                {% endfor %}
            </ul>



        </div>
        <div class="col m4 l3 hide-on-small-only">
            <ul class="collection">
                <li class="collection-item">Total blogs <span class="badge">{{total_blogs}}</span>
                </li>
                <li class="collection-item">Published <span class="badge green lighten-3">{{active_blogs}}</span></li>

            </ul>
        </div>
    </div>


</div>

{% endblock %}