{% extends 'blog_app/base.html'%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-content">
                    <h3>Forgot password</h3>
                    <h5>Enter Registered email to get password reset link</h5>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.email }}
                        <button class="btn green " type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}